<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style >
        .test-tr {
            background-color:#4cae4c;
        }
        .test-tre{
            background-color:#d59392;
        }
    </style>
</head>
<body>
<!-- 通过key得到value -->
<hi th:text="${errorMap['javax.servlet.error.status_code']}"></hi>

status:<hi th:text="${errorMap['status']}"></hi>
map size:<hi th:text="${#maps.size(errorMap)}"></hi>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description </th>
    </tr>
    <!-- 迭代这个map -->
    <tr th:each="err:${errorMap}"  th:classappend="${errStat.odd}? 'test-tr':'test-tre'">
        <td th:text="${err.key}"></td>
        <td th:text="${err.value}"></td>
    </tr>
    </thead>
</table>
</body>
</html>